<div
    class="w-full min-h-screen flex items-center justify-center p-3 bg-gradient-to-b from-green-950 to-black text-green-50">
    <main class="w-[80ch] flex flex-col gap-3 p-3 outline-green-300 outline rounded outline-1">
        <h1 class="text-3xl font-bold text-green-300">
            Hey there 👋 You're all set.<br>
        </h1>
        <section class="text-green-50">
            <h2 class="text-xl">Student Info</h2>
            <p>{{ .FirstName }} {{ .LastName }}, {{ .Academy }}, {{ .Email }}</p>
        </section>

        <p>Your account has been activated, and you can now access the Minecraft server. Have fun!</p>
    </main>
</div>