<!doctype html>
<title>You're all set! Welcome to the server.</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">

<main>
  <hgroup>
    <h1>Hey there 👋 You're all set.</h1>
    <p>We successfully activated your account.</p>
  </hgroup>

  <section>
    <h2>Student Info</h2>
    <p>{{ .FirstName }} {{ .LastName }}, {{ .Academy }}, {{ .Email }}</p>
  </section>

  <p>Your account has been activated, and you can now access the Minecraft server. Have fun!
</main>